.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.header-logo {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}