.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  padding: 8px 15px;
  border-radius: 30px;
}

.navbar .selected, .navbar a:hover {
  color: var(--main-font-color);
  background-color: #fff;
}